*{
	box-sizing: border-box;
}

a{
	display: block;
}

.sidebar{
	width: 20vw;
	border:2px solid violet;
	float: left;
	overflow: auto;
	height: calc(98vh);
}

.main{
	width: 75vw;
	border:2px solid green;
	height: 78vh;
	float: left;
}

.message{
	width: 75vw;
	height: 20vh;
	float: left;
	border: 2px solid blue;
}

.channel{
	margin-top: 5px;
	background-color: #000;
	color: white;
	cursor: pointer;
	word-wrap: break-word;
}

.active{
	background-color: hotpink;
}

input[type=text]{
	width: 100%;
	border-radius: 4px;
}

/* create channel button */
#createChannel{
	width: 100%;
	font-size: 1em;
	border-radius: 2px;
	text-decoration: none;
	background-color: black;
	color: white;
	cursor: pointer;
}

/*channel list*/
header{
	margin-top: 5px;
	font-size: 2vw;
}

textarea{
	width: 100%;
	height: 100px;
}

#send{
	font-size: 1em;
	background-color: black;
	color: white;
	border-radius: 2px;
}

.logo{
	background-color: black;
	color: hotpink;
	font-size: 5vw;
}

.user{
	background-color: #000;
	color: #00ffff;
	font-size: 3vw;
	width: 100%;
	word-wrap: break-word;
}

.channelRepo{
	display: none;
	overflow: auto;
	height: calc(78vh);
}

@keyframes hide{
	0% {
		opacity: 1;
		height: 100%;
	}
	75% {
		opacity: 0;
		height: 100%;
	}
	100%{
		opacity: 0;
		height: 0px;;
	}
}

.messageInfo{
	width: 98%;
	margin: 4px;
	padding: 4px;
	background-color: hotpink;
	position: relative;
	animation-name: hide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    max-height: 100px;
    overflow: auto;
    border-radius: 5px;
}

.mTime{
	position: absolute;
	top: 1px;
	right: 1px;
}

.mUser{
	font-weight: bold;
}

.mContent{
	word-wrap: break-word;
}

.menu{
	display: none;
	position: fixed;
	background-color: white;
}

.menu ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.menu-item{
	cursor: pointer;
	padding: 0 1rem;
	border: 1px solid black;
}

.menu-item:hover{
	font-weight: bold;
}

@media screen and (max-width: 600px){
	.sidebar{
		width: 30vw;
	}
	
	.main, .message{
		width: 60vw;
	}
	
	#send{
		padding: 0px;
		width: 100%;
	}

	#createChannel, header{
		font-size: 1em;
	}

	.logo{
		font-size: 2em;
	}

	.user{
		font-size: 1em;
	}
}

