<!DOCTYPE html>
<html>
<head>
	<title>Username</title>
	<link rel="shortcut icon" type="image/png" href="/static/favicon.png">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="/static/index.css">
	<script src="{{url_for('static', filename='index.js')}}"></script>
</head>
<body>
	<header>
		Flack
	</header>
	<div class="subtitle">
			Welcome to the chatting application
		</div>

		<div class="displayData">
			Choose your name which will be shown to other users
			<form action="{{url_for('getusername')}}" method="POST">
				<div>
					<input type="text" name="username" placeholder="Choose a unique display name" id="username" required>		
				</div>
				<div>
					<span></span>
				</div>
				<div>
					<input type="submit" id="submit">		
				</div>
		</div>
	</form>
</body>
</html>